@use "mozek-angular/src/styles" as moz;

.wrap {
    max-width: 850px;
    margin: auto;
}

.container {
    flex: 1 1 0;
    height: 100%;
    overflow: hidden;
}

.chat-space {
    flex: 1 1 0;
    width: 100%; height: 100%;
    padding-right: 1rem;
    overflow-y: auto;

    .chat-group {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }
}

.chat {
    max-width: 80%; min-height: 2.7rem !important;
    padding: 0.3rem 1rem;
    line-height: 1.2;
    &.user { margin-left: auto;}
    &.bot { margin-right: auto;}

    p { line-height: 1.3;}
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    p {
        @include moz.moz-typography('footer')
    }
}